@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TaskBoard.ViewComponents.ProxyGroupSelectViewModel
@{
    var items = new List<SelectListItem>() { new("", "0") };
    items.AddRange(Model.Groups.Select(g => new SelectListItem(g.Name, g.Id.ToString())));
}

@if (Model.ShowLabel)
{
    <label for="@Model.ControlId" class="form-label">Existing Group</label>
}
<select id="@Model.ControlId" asp-items="items" class="form-control text-bg-dark">
</select>