@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@using SnapWebModels
@inject ModuleEnabler ModuleEnabler
@{
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
    var isEnabled = await ModuleEnabler.IsEnabled(SnapWebModuleId.FriendCleaner);
}
<div class="card action-card text-bg-secondary">
    @if (!isEnabled)
    {
        <a id="purchaseRemoveFriend" class="btn btn-sm bg-dark text-success" href="@Url.Action("Purchase", "Home")" data-bs-toggle="tooltip" data-bs-title="Purchase Friend Cleaner Module">
            <i class="fa fa-dollar-sign"></i>
        </a>
    }
    <div class="card-header text-bg-primary">
        <h5 class="card-title">Friend Cleaner</h5>
    </div>
    <div class="card-body text-bg-dark">
        <div class="form-control text-bg-dark mb-2">
            <label for="removeFriends_Delay" class="form-label">Delay between removals</label>
            <input type="number" id="removeFriends_Delay" min="5" max="300" value="30" class="form-control"/><br/>
        </div>
        <input id="RequestVerificationToken" type="hidden" value="@requestToken" />
        <div class="card-footer">
            @if (isEnabled)
            {
                <button type="button" class="btn btn-outline-light text-bg-dark" onclick="RemoveFriend(this)">Run</button>
            }
        </div>
    </div>
</div>