@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@using SnapWebModels
@inject ModuleEnabler ModuleEnabler
@{
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
    var isEnabled = await ModuleEnabler.IsEnabled(SnapWebModuleId.ExportFriends);
}
<div class="card action-card text-bg-secondary">
    @if (!isEnabled)
    {
        <a id="purchaseAddFriend" class="btn btn-sm bg-dark text-success" href="@Url.Action("Purchase", "Home")" data-bs-toggle="tooltip" data-bs-title="Purchase ExportFriend Module">
            <i class="fa fa-dollar-sign"></i>
        </a>
    }
    <div class="card-header text-bg-primary">
        <h5 class="card-title">Export Friends</h5>
    </div>
    <input id="RequestVerificationToken" type="hidden" value="@requestToken" />
    <div class="card-body text-bg-dark">
        <div class="card-footer">
            @if (isEnabled)
            {
                <div class="mb-2">
                    <label for="exportEmail" class="form-label">Email Address</label>
                    <input type="text" class="form-control" id="exportEmail" @(!isEnabled ? "disabled" : "")/>
                </div>
                <button type="button" class="btn btn-outline-light text-bg-dark" onclick="ExportFriends(this)">Run</button>
            }
        </div>
    </div>
</div>