@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@using SnapWebModels
@inject ModuleEnabler ModuleEnabler
@{
    var isEnabled = await ModuleEnabler.IsEnabled(SnapWebModuleId.PhoneScraper);
}
@{
    ViewData["Title"] = "Phone Scraper";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}
@if (isEnabled)
{
    <form>
        <div class="row mb-2">
            <div class="col col-sm-6 mb-2">
                <h4>Phone Scraper</h4>
                <partial name="_CommonActionControlsPartial"/>
                <div class="mb-2">
                    <label for="numbers" class="form-label">Amount of numbers per Account</label>
                    <input type="number" id="numbers" class="form-control" value="20"/>
                </div>
                <div class="form-control text-bg-dark mb-2">
                    <label for="randomCountries">Choose a country:</label>
                    <select class="form-control text-bg-dark" name="randomCountry" id="randomCountries">
                        <option value="US">US</option>
                        <option value="CA">CA</option>
                        <option value="UK">UK</option>
                        <option value="NL">NL</option>
                        <option value="DE">DE</option>
                        <option value="PL">PL</option>
                        <option value="AE">AE</option>
                        <option value="SE">SE</option>
                        <option value="AU">AU</option>
                        <option value="FI">FI</option>
                    </select>
                    <label for="randomizerScrape"></label>
                    <input type="checkbox" id="randomizerScrape" name="randomizerScrape" value="randomize" /> 
                    Random Phone Scraper<br />
                    <label for="OnlyActive"></label>
                    <input type="checkbox" id="OnlyActive" name="OnlyActive" value="randomize" /> 
                    Only scrape active accounts.<br />
                </div>
                <div class="mb-2">
                    <button type="button" class="btn btn-outline-light text-bg-dark" id="btn_scrapePhones">
                        Start Scraping
                    </button>
                </div>
            </div>
            <div class="col col-sm-6 mb-2">
                <h4>New Phone</h4>
                <div class="mb-2">
                    <label for="countrycode" class="form-label">2 Letter Country ISO</label>
                    <input type="text" id="countrycode" class="form-control"/>
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" id="phone" class="form-control"/>
                </div>
                <button type="button" class="btn btn-outline-light text-bg-dark" id="btn_addPhone">
                    Save
                </button>
            </div>
            <div class="col col-sm-6 mb-2">
                <label for="phonesUploadFile" class="form-label">Upload phones from file</label>
                <input type="file" id="phonesUploadFile" name="phonesUploadFile" class="form-control" accept="text/plain" />
                <div class="form-text text-white-50 mb-2">Input file with the following format: 2_LETTER_ISO_CODE:PHONE_NUMBER</div>
                <button type="button" id="btn_uploadPhones" class="btn btn-outline-light text-bg-dark">Upload</button>
            </div>
        </div>
    </form>
    <hr class="mb-2"/>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-danger text-bg-dark" onclick="ShowPurgeModal();"><i class="fa fa-circle-radiation"></i> Purge Phones</button>
        <a href=@Url.Action("Export", "PhoneScrape") class="btn btn-outline-yellow text-bg-dark ms-2"><i class="fa fa-save"></i> Export to disk</a>
    </div>
    <hr class="mb-2"/>
    <table class="table table-dark" id="phonesTable" style="width: 100%;">
        <thead>
            <th></th>
            <th>Id</th>
            <th>CountryCode</th>
            <th>Phone</th>
        </thead>
        <tbody>
        </tbody>
    </table>
<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

@section Scripts {
    <script src="/assets/plugins/datatables.net/js/jquery.dataTables.js?1504"></script>
    <script src="/assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.js?1504"></script>
    <script src="/js/phonescrapermanager.js?1504"></script>
}
}