@using Newtonsoft.Json
@model TaskBoard.ViewComponents.TopCountriesScrapedGraphViewModel

<!-- html -->
<div id="topCountriesChart"></div>

<!-- script -->
<script>
  let topCountriesSeries = @Html.Raw(Json.Serialize(Model.Countries.Values));
  let topCountriesLabels = @Html.Raw(Json.Serialize(Model.Countries.Keys));

  CreatePieChart('#topCountriesChart', 'Top Scraped Countries', 300, topCountriesSeries, topCountriesLabels);
</script>

